doctype html
html
	head
		title|#{title}
		meta(charset="utf-8")
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", rel="stylesheet")
	body(screen_capture_injected="true")
		block content
		script(src="/bower_components/jquery/dist/jquery.min.js")
		script(src="/javascripts/scripts/jsfeat.js")
		script(src="/javascripts/scripts/compatibility.js")
		script(src="/javascripts/scripts/camgaze.js")
		block scripts