extends ../layout
block content
	span.bolita.bolita1
	span.bolita.bolita2
	#web
		canvas#mainCanvas
		video#player(autoplay)
block scripts
	script(src="/javascripts/cascades/eye.js")
	script(src="/javascripts/cascades/frontalface.js")
	script(src="/javascripts/app_calibration.js")
	script(src="http://cloud.github.com/downloads/harthur/brain/brain-0.6.0.js")
