extends ../layout

block content
	#web
		canvas#mainCanvas
		video#player(autoplay)
block scripts
	script(src="/javascripts/cascades/eye.js")
	script(src="/javascripts/cascades/frontalface.js")
	script(src="/javascripts/app_smile.js")